<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="assets/plugins/github-calendar/dist/github-calendar.css"/>
			<link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:grantpedersen2@live.com">email</a></li>
					<li><a href="https://github.com/GrantPedersen2">github.com/GrantPedersen2</a></li>
				</ul>
			</footer>
		</body>
</html>